# SPDX-FileCopyrightText: 2023 The Pion community <https://pion.ly>
# SPDX-License-Identifier: MIT

name: API
on:
  workflow_call:

permissions:
  contents: read

jobs:
  compatibility:
    name: Compatibility
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Check SKIP_API_DIFF
        id: check-skip-diff
        run: |
          if [ -f .github/.ci.conf ]; then . .github/.ci.conf; fi
          if [ -n "${SKIP_API_DIFF}" ]; then
            echo "SKIP=true" >> $GITHUB_OUTPUT
          else
            echo "SKIP=false" >> $GITHUB_OUTPUT
          fi

      - name: Setup Go
        if: steps.check-skip-diff.outputs.SKIP == 'false'
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'

      - name: Check API compatability
        if: steps.check-skip-diff.outputs.skip == 'false'
        uses: joelanford/go-apidiff@60c4206be8f84348ebda2a3e0c3ac9cb54b8f685 # v0.8.3
