# SPDX-FileCopyrightText: 2023 The Pion community <https://pion.ly>
# SPDX-License-Identifier: MIT

name: Sync Assets
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
jobs:
  sync:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: sync CI configs
        uses: at-wat/assets-sync-action@v0
        with:
          repos: |
            pion/bwe
            pion/bwe-test
            pion/datachannel
            pion/dtls
            pion/example-webrtc-applications
            pion/explainer
            pion/ice
            pion/interceptor
            pion/logging
            pion/mdns
            pion/opus
            pion/randutil
            pion/rtcp
            pion/quic
            pion/rtp
            pion/rtwatch
            pion/sctp
            pion/sdp
            pion/srtp
            pion/stun
            pion/template
            pion/transport
            pion/turn
            pion/webrtc
            pion/webrtc-bench
            pion/zapion
          root_dir: ci
          rm: |
            .github/hooks/*
            .github/workflows/renovate-go-mod-fix.yaml
            .github/lint-*.sh
          script: |
            bash "${ASSETS_DIR}/.github/tools/update_spdx_year.sh"
            bash "${ASSETS_DIR}/.github/tools/update_go_mod_version.sh"
          push_interval: 10
          git_user: Pion Bot
          git_email: 59523206+pionbot@users.noreply.github.com
          github_token: ${{ secrets.PIONBOT_ASSETS_SYNC_TOKEN }}
          commit_message: |
            Update CI configs to %v

            Update lint scripts and CI configs.
