name: assets-sync
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: sync CI configs
        uses: at-wat/assets-sync-action@v0
        with:
          repos: |
            pion/datachannel
            pion/dtls
            pion/ice
            pion/interceptor
            pion/ion-avp
            pion/logging
            pion/mdns
            pion/quic
            pion/rtcp
            pion/rtp
            pion/sctp
            pion/sdp
            pion/srtp
            pion/transport
            pion/turn
            pion/udp
            pion/webrtc
          root_dir: ci
          git_user: Pion Bot
          git_email: 59523206+pionbot@users.noreply.github.com
          github_token: ${{ secrets.PIONBOT_ASSETS_SYNC_TOKEN }}
          commit_message: |
            Update CI configs to %v

            Update lint scripts and CI configs.
      - name: sync CI configs
        uses: at-wat/assets-sync-action@v0
        with:
          repos: |
            pion/stun
          root_dir: ci
          exclude_paths: |
            codecov.yml
          git_user: Pion Bot
          git_email: 59523206+pionbot@users.noreply.github.com
          github_token: ${{ secrets.PIONBOT_ASSETS_SYNC_TOKEN }}
          commit_message: |
            Update CI configs to %v

            Update lint scripts and CI configs.
            Excluding codecov.yml.
