# SPDX-FileCopyrightText: 2023 The Pion community <https://pion.ly>
# SPDX-License-Identifier: MIT

name: Sync Assets
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: sync CI configs
        uses: at-wat/assets-sync-action@v0
        with:
          repos: |
            pion/datachannel
            pion/dtls
            pion/ice
            pion/interceptor
            pion/logging
            pion/mdns
            pion/opus
            pion/peerconnection_explainer
            pion/portmap
            pion/randutil
            pion/rtcp
            pion/rtp
            pion/rtpio
            pion/sctp
            pion/sdp
            pion/simulnet
            pion/srtp
            pion/stun
            pion/template
            pion/transport
            pion/turn
            pion/webrtc
          root_dir: ci
          rm: |
            .github/hooks/*
            .github/workflows/renovate-go-mod-fix.yaml
            .github/generate-authors.sh
            .github/lint-*.sh
          push_interval: 10
          git_user: Pion Bot
          git_email: 59523206+pionbot@users.noreply.github.com
          github_token: ${{ secrets.PIONBOT_ASSETS_SYNC_TOKEN }}
          commit_message: |
            Update CI configs to %v

            Update lint scripts and CI configs.
