name: Lint
on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
jobs:
  commit-lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 50
      - name: copy scripts
        run: cp ci/.github/*.sh .github/
      - name: assert contributors
        run: .github/assert-contributors.sh
      - name: lint commit message
        run: .github/lint-commit-message.sh
