name: lint
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  commit-lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 50
      - name: copy scripts
        run: cp root/.github/*.sh .github/
      - name: assert contributors
        run: .github/assert-contributors.sh
      - name: lint commit message
        run: |
          git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
          if [ "${GITHUB_EVENT_NAME}" == "pull_request" ]; then
            git fetch --depth=50 origin ${{ github.base_ref }} ${{ github.head_ref }}
            export TRAVIS_COMMIT_RANGE=origin/${{ github.base_ref }}...origin/${{ github.head_ref }}
          else
            git fetch --depth=50 origin ${{ github.ref }}
            export TRAVIS_COMMIT_RANGE=$(git log --format="%H" | tail -n1)...${{ github.ref }}
          fi
          git log --oneline --graph ${TRAVIS_COMMIT_RANGE}
          .github/lint-commit-message.sh
