# SPDX-FileCopyrightText: 2023 The Pion community <https://pion.ly>
# SPDX-License-Identifier: MIT

name: Lint (reusable)
on:
  workflow_call:
    inputs:
      goassets-ref:
        default: master
        required: false
        type: string

permissions:
  contents: read

jobs:
  lint-commit-message:
    name: Metadata
    runs-on: ubuntu-24.04
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Checkout .goassets
        uses: actions/checkout@v4
        with:
          repository: pion/.goassets
          path: ${{ github.workspace }}/.github/.goassets
          ref: ${{ inputs.goassets-ref }}

      - name: Commit Message
        run: .github/.goassets/scripts/lint-commit-message.sh

      - name: File names
        run:  go run .github/.goassets/scripts/lint_filename.go

      - name: Logging messages should not have trailing newlines
        run:  go run .github/.goassets/scripts/lint_no_trailing_newline_in_log_messages.go

      - name: Go version in go.mod
        run: .github/.goassets/scripts/lint-go-mod-version.sh

  lint-go:
    name: Go
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-24.04
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - uses: actions/checkout@v4

      - name: Run pre lint hook
        if: always()
        run: |
          if [ -f .github/.ci.conf ]; then . .github/.ci.conf; fi
          if [ -n "${PRE_LINT_HOOK}" ]; then ${PRE_LINT_HOOK}; fi

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v2.1.6
          args: $GOLANGCI_LINT_EXRA_ARGS
