# SPDX-FileCopyrightText: 2023 The Pion community <https://pion.ly>
# SPDX-License-Identifier: MIT

name: Fix go.sum (reusable)
on:
  workflow_call:
    secrets:
      token:
        required: true

permissions:
  contents: write

jobs:
  fix:
    name: Fix go.sum
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: Fix
        uses: at-wat/go-sum-fix-action@v0
        with:
          git_user: Pion Bot
          git_email: 59523206+pionbot@users.noreply.github.com
          github_token: ${{ secrets.token }}
          commit_style: squash
          push: force
