# SPDX-FileCopyrightText: 2023 The Pion community <https://pion.ly>
# SPDX-License-Identifier: MIT

name: Test
on:
  workflow_call:
    inputs:
      go-version:
        required: true
        type: string

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    name: Go ${{ inputs.go-version }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/go/bin
            ~/.cache
          key: ${{ runner.os }}-amd64-go-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-amd64-go-

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ inputs.go-version }}

      - name: Check API compatability
        if: github.ref != 'refs/heads/master'
        uses: joelanford/go-apidiff@002aa613b261e8d1547b516fb71793280f05bb78 # v0.8.2

      - name: Setup go-acc
        if: always()
        run: go install github.com/ory/go-acc@latest

      - name: Setup gotestfmt
        if: always()
        uses: haveyoudebuggedit/gotestfmt-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }} # Avoid getting rate limited

      - name: Run pre test hook
        if: always()
        run: |
          if [ -f .github/.ci.conf ]; then . .github/.ci.conf; fi
          if [ -n "${PRE_TEST_HOOK}" ]; then ${PRE_TEST_HOOK}; fi

      - name: Run test
        if: always()
        run: |
          TEST_BENCH_OPTION="-bench=."
          if [ -f .github/.ci.conf ]; then . .github/.ci.conf; fi

          set -euo pipefail
          go-acc -o cover.out ./... -- \
            ${TEST_BENCH_OPTION} \
            -json \
            -v -race 2>&1 | grep -v '^go: downloading' | tee /tmp/gotest.log | gotestfmt

      - name: Run post test hook
        if: always()
        run: |
          if [ -f .github/.ci.conf ]; then . .github/.ci.conf; fi
          if [ -n "${POST_TEST_HOOK}" ]; then ${POST_TEST_HOOK}; fi

      - name: Upload test log
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-log-${{ inputs.go-version }}
          path: /tmp/gotest.log
          if-no-files-found: error

      - uses: codecov/codecov-action@v3
        with:
          name: codecov-umbrella
          fail_ci_if_error: true
          flags: go
