# SPDX-FileCopyrightText: 2023 The Pion community <https://pion.ly>
# SPDX-License-Identifier: MIT

name: Go mod tidy (reusable)
on:
  workflow_call:
    inputs:
      go-version:
        required: true
        type: string

permissions:
  contents: read

jobs:
  check:
    name: Tidy check
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ inputs.go-version }}
      - name: Check
        run: |
          go mod download
          go mod tidy
          if ! git diff --exit-code
          then
            echo "Not go mod tidied"
            exit 1
          fi
